.table-row-cell:odd {
    -fx-background-color: #4c4c4c;
}
.table-cell {
    -fx-text-fill: #FFFFFF;
}
.table-row-cell:even {
    -fx-background-color: #3c3c3c;
}
.table-row-cell:selected {
    -fx-background-color: #0096c9;
}
.label {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #2c2c2c;
}
.filler {
    -fx-background-color: #2c2c2c;
}
.column-header {
   -fx-background-color: #4c4c4c;
}
.table-view {
    -fx-background-color: #2c2c2c;
}
.button {
    -fx-background-color: rgba(66,66,66);
    -fx-background-radius: 3;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
}

#okButton {
    -fx-padding: 6 30 6 30;
}